* {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}

li,
ol,
dl {
    list-style-type: none;
}

.text_white {
    color: white;
}

.text_green {
    color: green;
}

.d1 {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    background-position: 5% 20%;
    display: flex;
    justify-content: space-around;
}

.d1_b1 {
    height: 100%;
}

.d1_b2>p {
    line-height: 5rem;
}

.d1_b3>img {
    margin-top: 6%;
    width: 86%;
    height: 64%;
}

.d2 {
    height: 50px;
    width: 100%;
    background-color: rgb(87, 199, 87);
    display: flex;
    justify-content: space-around;
}

.d2>ul {
    width: 100%;
    margin-bottom: 0;
}

.d2>ul>li {
    height: 100%;
    float: left;
    margin-right: 4%;
}

.d2>ul>li:nth-child(11) {
    margin-right: 0%;
}

.d2>ul>li:nth-child(1) {
    margin-left: 3%;
}

.d2>ul>li>a {
    display: block;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.d2>ul a {
    color: white;
    height: 100%;
    line-height: 3.2rem;
}

.d2>ul>li a:hover {
    background-color: rgb(19, 112, 0);
    color: rgb(230, 157, 157);
}

.carousel-control-prev,
.carousel-control-next {
    width: 2%;
    height: 18%;
    top: 40%;
    background-color: rgb(13, 230, 96);
    border-radius: 0.25rem;
}

.carousel-indicators li {
    width: 0.8rem;
    height: 0.8rem;
    background: #fff;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
}

.carousel-indicators .active {
    background: #1ded0a;
}

.d3 {
    background-color: rgba(0, 0, 0, 0.6);
    top: 0%;
    left: 19.2%;
}

.d3>li span {
    display: block;
    font-size: 1.2rem;
}